/* Example of the CSS file for an HTML exportation of a report. */

body {

}

h1, h2, h4 {
    text-align : center ;
}

h3 {
    border-top : 2px solid #000000 ;
    padding-top : 20px ;
}

h5 {
    margin : 0 ;
}

.sh_btn {
    float : right ;
}

.ch_btn {
    display : block ;
    margin-left : auto ;
    margin-right : auto ;
}

table, th, td {
    border : 1px solid #000000 ;
    border-collapse : collapse ;
    margin-left : auto ;
    margin-right : auto ;
    padding : 10px ;
    text-align : center ;
}

#tree_view {
    padding-left : 5px ;
}

#histogram_C {
    height : 80% ;
}

#histogram_P {
    height : 80% ;
}

.show_hide {
    display : none ;
}

.red {
    color : #A30000 ;
}

.green {
    color : #00A300 ;
}

.blue {
    color : #0000A3 ;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
